{% extends "base.html" %}
{% block main %}
	{% if student == None %}
		{% with template_path="finances/add_payment.html" %}
		{% include "reusable/school/search_student_template.html" %}
		{% endwith %}
	{% else %}
		<script>
			$(function() {
					$( "#datepicker" ).datepicker({dateFormat: "dd.mm.yy"});
			});
		</script>
		ADD PAYMENT:
		<form action="/finances/add_payment/" method="POST">
			{% csrf_token %}
			<p>Dates: <input type="text" id="datepicker" name="date"></p>
			<p>Amount: <input type="text" name="amount"></p>
			<input type="hidden" name="student_id" value={{student.id}} />
			<p><input type="submit" value="add" />
		</form>
	{% endif %}

{% endblock %}
